.errorPage {
  /* background-color: #282c34; */
  min-height: 91vh;
}

.errorPage .jumbotron-position {
  position: relative;
  margin: auto;
}

.errorPage .error-container {
  margin: 0 auto;
  /* max-width: 1000px; */
  width: 100%;
  padding: 20px;
  background: #eaeaeb;
  align-items: center;
  display: flex;
  flex-direction: column;
}
