.App {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  color: black !important;
  width: 50vh;
  margin: 10px;

  /* padding: 5px; */
}

.page-css {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.page-noflex {
  /* background-color: #282c34; */
  min-height: 100vh;
  flex-direction: column;
}

.jumbotron-container {
  /* margin: 10px; */
}

.jumbotron-css {
  margin-top: 20px;
  color: black !important;
}

.nav-spacing {
  margin-bottom: 0px;
}

.header-css {
  margin-top: 20px;
}

.footer {
  background-color: #e9ecef;
  color: black;
  height: 400px;
  position: relative;
}

.footer .footer-bottom {
  background-color: #282c34;
  color: white;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 10px;
}

.footer .footer-content {
  padding: 10px;
  outline-width: 1px;
  outline-color: white;
}

.footer .footer-bottom a {
  color: white;
}
